<!-- Here the registration form for login -->
<div class="container">
    <div class="row">
        <div class="col-md">
            <h5>*Registration form *</h5>
            <form  [formGroup]="SignupForm" (ngSubmit)="loginUser()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName = "email">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Name</label>
                    <input type="text" class="form-control" id="box2" formControlName = "name">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">phone</label>
                    <input type="tel" class="form-control" id="box3" formControlName = "phone">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Role</label>
                    <input type="text" class="form-control" id="box4" formControlName = "role">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Username</label>
                    <input type="text" class="form-control" id="box4" formControlName = "username">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Code</label>
                    <input type="text" class="form-control" id="box4" formControlName = "code">
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label" >Password</label>
                    <input type="password" class="form-control" id="box1" formControlName = "password">
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                
              </form>
              <div>
                <a href="/login">If Already have Account😒!</a>
              </div>
        </div>
    </div>
</div>

